---
import Pagesection from "../../components/sections/pagesection.astro";
import Layout from "../../layout/layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout>
  <Pagesection size="md">
    <h2>Check cards by element</h2>

    <div class="column-grid">
      <div class="grid-item">
        <a href="/gallery/light" class="card-link badge light"> Light </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/darkness" class="card-link badge darkness">
          Darkness
        </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/fire" class="card-link badge fire"> Fire </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/water" class="card-link badge water"> Water </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/earth" class="card-link badge earth"> Earth </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/wind" class="card-link badge wind"> Wind </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/lightning" class="card-link badge blitz">
          Lightning
        </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/ice" class="card-link badge ice"> Ice </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/nature" class="card-link badge nature"> Nature </a>
      </div>
      <div class="grid-item">
        <a href="/gallery/neutral" class="card-link badge neutral"> Neutral </a>
      </div>
    </div>
  </Pagesection>
</Layout>

<style>
  :root {
    --grid-gap: 1rem;
    --grid-max-col-count: 5;
    --grid-min-col-size: 160px;
  }

  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .card-link {
    display: block;
    text-decoration: none;
  }
</style>
