---
import Filter from "../../components/filter.astro";
import Pagesection from "../../components/sections/pagesection.astro";
import Layout from "../../layout/layout.astro";

const elements = [
  { name: "Light", class: "light" },
  { name: "Darkness", class: "darkness" },
  { name: "Fire", class: "fire" },
  { name: "Water", class: "water" },
  { name: "Earth", class: "earth" },
  { name: "Wind", class: "wind" },
  { name: "Lightning", class: "blitz" },
  { name: "Ice", class: "ice" },
  { name: "Nature", class: "nature" },
  { name: "Neutral", class: "neutral" },
];
---

<Layout>
  <Pagesection size="md">
    <h2>Check cards by element</h2>

    <div class="column-grid">
      {
        elements.map((el) => (
          <div class="grid-item">
            <a
              href={`/gallery/${el.name.toLowerCase()}`}
              class={`card-link badge ${el.class}`}
            >
              {el.name}
            </a>
          </div>
        ))
      }
    </div>
  </Pagesection>

  <Pagesection size="md">
    <Filter />
  </Pagesection>

  <style>
    :root {
      --grid-gap: 1rem;
      --grid-max-col-count: 5;
      --grid-min-col-size: 160px;
    }

    .card-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
    }

    .card-link {
      display: block;
      text-decoration: none;
    }
  </style>
</Layout>
