---
import Pagesection from "../../components/sections/pagesection.astro";
import Layout from "../../layout/layout.astro";
---

<Layout
  title={`${card.name} | Guardian`}
  description={`Card entry for ${card.name}`}
  image={card.image}
  url={`https://guardiancg.netlify.app/cards/${slug}`}
>
  <Pagesection size="md">
    <h1>Downloads</h1>

    <h2>Download Table Top Simulator decks here</h2>
    <div class="column-grid grid-3">
      <div class="grid-item">Darkness Deck</div>
      <div class="grid-item">
        <a href="/decks/solidarity deck swarm.json" download
          >Light Deck (solidarity)</a
        >
      </div>
      <div class="grid-item">
        <a href="/decks/Calamity Deck.json" download>Fire-Lightning Deck</a>
      </div>
      <div class="grid-item">Pirate (Water Wind) Deck</div>
      <div class="grid-item">
        <a href="/decks/Preordain Deck.json" download>Water Deck (preordain)</a>
      </div>
      <div class="grid-item">
        <a href="/decks/IceMill.json" download>Ice Deck</a>
      </div>

      <div class="grid-item">
        <a href="/decks/Earth_15_July_2025.json" download>Earth Cards</a>
        <a href="/decks/Earth_15_July_2025.png" download>Earth Cards PNG</a>
      </div>

      <div class="grid-item">
        <a href="/decks/AllDarknessCards_July2025.json" download
          >Darkness Cards</a
        >
        <a href="/decks/AllDarknessCards_July2025.png" download
          >Darkness Cards PNG</a
        >
      </div>
    </div>
  </Pagesection>
</Layout>

<style>
  .column-grid {
    --grid-gap: 1rem;
    --grid-max-col-count: var(--grid-col-count);
    --grid-min-col-size: 288px;
  }
</style>
