*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: light; /*dark; Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  /*max-width: 75ch;*/
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* --- root --- */

:root {
  /* colors */

  --clr-brand: hsl(200 95% 10%);
  --clr-primary: hsl(200 95% 55%);
  --clr-secondary: hsl(15 95 55);
  --clr-accent: hsl(40 100% 60%);

  --clr-neutral: hsl(210 10% 50%);
  --clr-neutral-50: hsl(210 10% 95%);
  --clr-neutral-100: hsl(210 10% 90%);
  --clr-neutral-200: hsl(210 10% 80%);
  --clr-neutral-300: hsl(210 10% 70%);
  --clr-neutral-400: hsl(210 10% 60%);
  --clr-neutral-500: hsl(210 10% 50%);
  --clr-neutral-600: hsl(210 10% 40%);
  --clr-neutral-700: hsl(210 10% 30%);
  --clr-neutral-800: hsl(210 10% 20%);
  --clr-neutral-900: hsl(210 10% 10%);
  --clr-neutral-950: hsl(210 10% 5%);

  /*font families*/
  --ff-brand: "Fertigo Pro", sans-serif;
  --ff-secondary: "Cambria", sans-serif;
  --ff-base: "Inter", sans-serif;

  /* font sizes */

  --fs-xs: clamp(0.5rem, 0.75vw, 0.75rem);
  --fs-sm: clamp(0.75rem, 1vw, 1rem);
  --fs-base: clamp(1rem, 1.125vw, 1.125rem);
  --fs-md: clamp(1.125rem, 1.5vw, 1.5rem);
  --fs-lg: clamp(1.5rem, 1.75vw, 1.75rem);
  --fs-xl: clamp(1.75rem, 2vw, 2rem);
  --fs-2xl: clamp(2rem, 3vw, 3rem);
  --fs-3xl: clamp(3rem, 4vw, 4rem);
  --fs-4xl: clamp(4rem, 5vw, 5rem);
  --fs-5xl: clamp(5rem, 1vw, 6rem);

  /* font weights */

  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* border radius */
  --radius-sm: 0.2em;
  --radius-base: 0.3em;
  --radius-md: 0.4em;
  --radius-lg: 0.8em;
  --radius-full: 100vmax;

  /* line heights */
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* spaces */
  --space-xs: max(0.56rem, min(calc(0.39rem + 0.87vw), 1.06rem));
  --space-md: max(1.13rem, min(calc(0.8rem + 1.63vw), 2.06rem));

  /* transistions */

  /* shadows*/
  --_shadow-saturation: 30%;
  --_shadow-lightness: 62;

  --_shadow: var(--_hue) var(--_shadow-saturation) var(--_shadow-lightness);
  --_shadow-strength: 0.25;

  --shadow-sm: 0.2px 0.5px 0.6px hsl(var(--_shadow) / var(--_shadow-strength)),
    0.3px 0.8px 1px -1.2px hsl(var(--_shadow) / var(--_shadow-strength)),
    0.8px 1.9px 2.3px -2.5px hsl(var(--_shadow) / var(--_shadow-strength));
}

/* --- base styling --- */

body {
  color: var(--clr-white, hsl(0 0% 100%));
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  background-color: var(--clr-neutral-900);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--fw-bold, 600);
  font-family: var(--ff-brand);
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-4xl);
  margin-block-end: 0.5em;

  span {
    color: var(--clr-primary);
  }
}

h2 {
  font-size: var(--fs-2xl);
  margin-block-end: 0.5em;
}

h3 {
  font-size: var(--fs-xl);
  margin-block-end: 0.25em;
}

h4 {
  font-size: var(--fs-lg);
  margin-block-end: 0.25em;
}

p {
  margin-block-end: 0.75em;
  line-height: 1.4;
}

a {
  color: hsl(from var(--clr-primary) h s 42);

  &:hover {
    color: hsl(from var(--clr-primary) h s 49);
  }
}

strong {
  font-weight: var(--fw-bold, 600);
}

small {
  font-size: var(--fs-sm);
}

em {
  font-style: italic;
}

/* --- */

.link {
  --type: transparent;
  --fill: transparent;
  display: flex;
  place-items: center;
  gap: 0.125rem;
  width: fit-content;
  padding: 0.125em;
  background-color: transparent;
  color: inherit;
  line-height: var(--lh-1);
  text-decoration: none;
  border-radius: var(--radius-md);

  &.primary {
    --type: hsl(var(--txt));
  }

  &.secondary {
    --type: hsl(var(--accent));
    color: hsl(var(--txt));
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px hsl(var(--clr-neutral)), 0 0 0 6px transparent;
  }

  &.filled {
    background-color: var(--clr-primary);
    padding: 0.5rem 1rem;

    &:hover,
    &:focus-visible {
      background-color: var(--clr-secondary);
      color: white;
    }
  }
}

nav ul li .link {
  text-decoration: none;
  font-size: var(--fs-md, 1.125rem);
  font-weight: var(--fw-medium, 600);
  color: var(--clr-txt-base);
  padding: 0.375rem 0.5rem;
  border-radius: var(--radius-sm);
  white-space: nowrap;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--clr-primary) h s 90);
  }
}

nav[aria-label="secondary"] ul li .link {
  font-size: var(--fs-sm, 0.875rem);
}

/* layout */
.wrapper {
  display: flex;
  gap: var(--gap, 1rem);
}

.col {
  flex: 1;
}

.image-wrapper {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

section {
  padding-block: var(--section-padding, 2rem);
}

.base-layout {
  --max-width: 1200px;
  --padding: 1rem;

  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns:
    minmax(var(--padding), 1fr)
    min(var(--max-width), 100% - (var(--padding) * 2))
    minmax(var(--padding), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  & > .full-width {
    grid-column: 1 / -1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(320px - var(--gap, 1rem)), 100%), 1fr)
  );
  gap: var(--gap, 1rem);
}

.column-grid {
  --grid-col-size-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col-count)) /
      var(--grid-max-col-count)
  );
  --grid-col-min-size-calc: min(
    100%,
    max(var(--grid-min-col-size), var(--grid-col-size-calc))
  );
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-col-min-size-calc), 1fr)
  );
}

.grid-3 {
  --grid-col-count: 3;
}

.grid-gap-1 {
  --grid-gap: 1rem;
}

/* --- utility --- */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* margins */

.mblk-4 {
  margin-block: 1rem;
}

.mblk-3 {
  margin-block: 0.75rem;
}

.mblk-2 {
  margin-block: 0.5rem;
}

.mblk-1 {
  margin-block: 0.25rem;
}

.mbs-4 {
  margin-block-start: 1rem;
}

.mbs-3 {
  margin-block-start: 0.75rem;
}

.mbs-2 {
  margin-block-start: 0.5rem;
}

.mbs-1 {
  margin-block-start: 0.25rem;
}

/* border radius */

.br-sm {
  border-radius: var(--radius-sm);
}

.br-md {
  border-radius: var(--radius-md);
}

.br-lg {
  border-radius: var(--radius-lg);
}
.br-full {
  border-radius: var(--radius-full);
}

/* --- badges --- */
.badge {
  background-color: var(--clr-element);
  text-align: center;
  color: var(--clr-ele-text, hsl(0 0% 100%));
  padding: 1rem 0.5rem;
  font-family: var(--ff-secondary);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);

  &.light {
    --clr-element: var(--clr-light, hsl(50 95% 90%));
    --clr-ele-text: var(--clr-light-100, hsl(50 95% 10%));
  }

  &.darkness {
    --clr-element: var(--clr-darkness, hsl(280 50% 5));
  }

  &.fire {
    --clr-element: var(--clr-fire, hsl(3 75 55));
  }

  &.water {
    --clr-element: var(--clr-water, hsl(200 95 30));
  }

  &.earth {
    --clr-element: var(--clr-earth, hsl(20 30 15));
  }

  &.wind {
    --clr-element: var(--clr-wind, hsl(250 50 90));
    --clr-ele-text: var(--clr-wind-100, hsl(250 50% 10%));
  }

  &.blitz {
    --clr-element: var(--clr-blitz, hsl(50 95 65));
    --clr-ele-text: var(--clr-blitz-100, hsl(50 95 10));
  }

  &.ice {
    --clr-element: var(--clr-ice, hsl(180 90 90));
    --clr-ele-text: var(--clr-ice-100, hsl(180 90% 10%));
  }

  &.nature {
    --clr-element: var(--clr-nature, hsl(90 95 35));
  }

  &.neutral {
    --clr-element: var(--clr-neutral, hsl(90 95 35));
  }
}
