---
import Pagesection from "../components/sections/pagesection.astro";
import Layout from "../layout/layout.astro";
---

<Layout>
  <Pagesection size="md">
    <h1>coming soon</h1>
  </Pagesection>
</Layout>
