---
import Layout from "../layout/layout.astro";
import Hero from "../components/hero.astro";
import PageSection from "../components/sections/pagesection.astro";
---

<Layout title="Home | GuardianDB">
  <Hero />
  <PageSection size="md">
    <h1>check out the gallery for now</h1>
    <h2>work in progress</h2>
  </PageSection>
</Layout>
