---

---

<img
  src="/images/hero.png"
  alt="Guardian CG Hero"
  width="1920"
  height="1200px"
  class="hero-image"
/>
<h1>Guardian CG Database</h1>
<h2>work in progress... check out the gallery</h2>

<style>
  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    font-size: 3rem;
    text-align: center;
    z-index: 1;
  }
  h2 {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
  }
</style>
