---
import Layout from "../../layout/layout.astro";
import Pagesection from "../../components/sections/pagesection.astro";
---

<Layout>
  <Pagesection size="md">
    <h2>Wiki</h2>
    <p>Learn all about Guardian the card game.</p>

    <ol>
      <li>
        <a href="/wiki/intro/">Introduction</a>
      </li>
      <li>
        <a href="/wiki/preparation/">Game Preparation</a>
      </li>
      <li>
        <a href="/wiki/components/">Components</a>
      </li>
    </ol>
  </Pagesection>

  <Pagesection size="md">
    <h3>Topics:</h3>
    <ul>
      <li>Card Types</li>
      <li>Elements</li>
      <li>Card Mechanics</li>
      <li>Game Mechanics</li>
      <li>
        <a href="/wiki/keywords/">Keywords</a>
      </li>
    </ul>
  </Pagesection>
</Layout>
