---
import Layout from "../../layout/layout.astro";
import Pagesection from "../../components/sections/pagesection.astro";
---

<Layout>
  <Pagesection size="md">
    <h2>Wiki</h2>
    <p>
      The wiki is a community-driven resource for all things related to
      Guardians of the Galaxy. It includes information about the game, its
      mechanics, and lore.
    </p>
  </Pagesection></Layout
>
